@mainColor: #fff;


html, body {
  background-color: @mainColor;
  width: 100%;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
}

#root,.App{
  height: 100%;
  width: 100%;
}
.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave {
  display: none;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}